<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="text">
        const successMessage = `[[${ successMessage }]]`;
        if (successMessage) {
            alert(successMessage);
        }
    </script>
</head>
<body>
    <th:block th:replace="common/header :: myHeader"></th:block>

    <h2>메뉴 상세 정보</h2>

    <div>
      <p th:text="|메뉴번호 : ${ menu.code}|"></p>
      <p th:text="|메뉴이름 : ${ menu.name}|"></p>
      <p th:text="|메뉴가격 : ${ menu.price}|"></p>
      <p th:text="|카테고리코드 : ${ menu.categoryCode}|"></p>
      <p th:text="|판매상태 : ${ menu.orderableStatus} |"></p>
    </div>

    <button onclick="location.href='/menu/list'">목록으로</button>

    <!-- 수정 버튼(thymeleaf 문법 사용) -->
    <a th:href="@{/menu/edit/{code}(code = ${menu.code})}">수정하기(thymeleaf)</a>

    <!-- 수정 버튼(Javascript 문법 사용) -->
    <button id="editButton">수정하기(javascript)</button>

    <script>
        document.getElementById("editButton")
                .addEventListener("click", () => {
                    window.location.href = "/menu/edit/" + `[[${menu.code}]]`;
            });
    </script>
</body>
</html>